@model BMICalculator.Models.BMI

@{
    ViewBag.Title = "Calculate";
}

<h2>BMI Calculator</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.WeightStones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WeightStones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WeightStones, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.WeightPounds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WeightPounds, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WeightPounds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeightFeet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeightFeet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeightFeet, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.HeightInches, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeightInches, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeightInches, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>

        @if (IsPost)
        {
            <div>
                <b>
                    @Html.DisplayNameFor(model => model.BMIValue)
                    @Html.DisplayFor(model => model.BMIValue)
                </b>
            </div>
            <div>
                <b>
                    @Html.DisplayNameFor(model => model.BMICategory)
                    @Html.DisplayFor(model => model.BMICategory)
                </b>
            </div>
        }
       
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
